<div class="container">
    <div *ngIf="!complete" class="flexbox">
        <mat-spinner></mat-spinner>
    </div>
    <div *ngIf="deployment">
        <mat-card class="deployment-preview centered">
            <mat-card-header>
                <mat-card-title>{{deployment.getName()}}</mat-card-title>
                <div class="flexbox-right">
                    <mat-icon>{{icon}}</mat-icon>
                    <span class="commit" *ngIf="deployment.getCommit()"><a target="_blank" href="{{githubUrl}}">{{deployment.getCommit()}}</a></span>
                </div>
            </mat-card-header>
            <mat-card-content>
                <b>Last Deployed:</b> {{deployment.getLastDeploy()!.toDate()}}
                <div class="flexbox">
                    <button mat-button color="primary" class="new-version">Deploy New Version</button>
                </div>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="complete && deployment === undefined" class="error-message">
        <mat-icon>error</mat-icon><span>Unable to find deployment</span>
    </div>
</div>