/* You can add global styles to this file, and also import other style files */
@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

div.container {
  width: 70%;
  margin: auto;
}

div.flexbox {
  display: flex;
  margin: auto;
  align-items: center;
  justify-content: center;
}

body {
  margin: 0px;
}
