<div class="container">
    <div *ngFor="let deployment of deployments" class="centered">
        <a routerLink="/deployment/{{deployment.getName()}}">
            <mat-card class="deployment-preview centered">
                <mat-card-header>
                    <mat-card-title>{{deployment.getName()}}</mat-card-title>
                    <div class="flexbox-right">
                        <mat-icon>{{icons.get(deployment.getName())}}</mat-icon>
                        <span class="commit" (click)="$event.stopPropagation()" *ngIf="deployment.getCommit()">
                            <a target="_blank" href="{{githubUrls.get(deployment.getName())}}">{{deployment.getCommit()}}</a>
                        </span>
                    </div>
                </mat-card-header>
                <mat-card-content>
                    <b>Last Deployed:</b> {{deployment.getLastDeploy()!.toDate()}}
                </mat-card-content>
            </mat-card>
        </a>
    </div>
</div>